  <div class='container'>
    <h2>登録情報編集</h2>
    <%= form_with model:@customer, local:true do |f| %>

      <p><%= f.label :"姓" %>
      <%= f.text_field :first_name, autofocus: true %></p>
      <p><%= f.label :"名" %>
      <%= f.text_field :last_name %></p>
      <p><%= f.label :"郵便番号" %>
      <%= f.text_field :postal_code %></p>
      <p><%= f.label :"住所" %>
      <%= f.text_field :address %></p>
      <p><%= f.label :"電話番号" %>
      <%= f.text_field :phone_number %></p>
      <p><%= f.label :"メールアドレス" %>
      <%= f.text_field :email %></p>


      <br>
      #これで更新できる？
      <%= f.submit '更新する', class: "btn btn-sm btn-success" %>
      <%= link_to "　退会する", unsubscribe_path, class: "glyphicon glyphicon-home btn btn-primary" %>
    <% end %>

  </div>
