<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <section class="main-visual mt-4">
        <div class="mv-text">
          <h3 class=text-center>ようこそ、ながのCAKEへ！</h3><br>
          <p class=text-center>このサイトは、ケーキ販売のECサイトになります。</p><br>
          <p class=text-center>ゴリラでない方も商品を閲覧できますが、</p><br>
          <p class=text-center>購入には会員登録が必要になります。</p><br>
        <div>
      <section>
    </div>
  </div>

  <div class="row">
    <section class="new-items col-md-12">
      <h3><strong>&ensp;&ensp;&ensp;&ensp;&ensp;新着商品</strong></h3>
      <div class="row justify-content-center">
        <% @items.each do |item| %>
          <div class="col-2">
            <div class="card border border-0">
              <%= link_to public_item_path(item.id) do %>
                <%= image_tag item.get_image(100,100) %><br>
              <% end %>
              <div class="card-body">
                <h6 class="card-title"><strong><%= item.name %></strong></h6>
                <p class="card-text">￥<%= item.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>
  <div class="col-md-12 text-center">
    <%= link_to "全ての商品を見る>", public_items_path %>
  </div>
</div>

