  <div class='container'>
    <h2>登録情報編集</h2>
    <%= form_with model:@customer, local:true do |f| %>

      <%= f.label :"#{@customer.id}" %>
      <%= f.label :"姓" %>
      <%= f.text_field :first_name, autofocus: true %>
      <%= f.label :"名" %>
      <%= f.text_field :last_name %>
      <%= f.label :"郵便番号" %>
      <%= f.text_field :postal_code %>
      <%= f.label :"住所" %>
      <%= f.text_field :adress %>
      <%= f.label :"電話番号" %>
      <%= f.text_field :phone_number %>
      <%= f.label :"メールアドレス" %>
      <%= text_field :email %>

      <%= f.label :会員ステータス, class: "ml-3" %>
        <div>
          <%= f.radio_button :is_deleted, :falese %>
          <%= f.label :is_deleted, "有効会員" %>
          <%= f.radio_button :is_deleted, :true %>
          <%= f.label :is_deleted, "退会済み" %>
        </div>

     #これで更新できる？
     <%= f.submit '更新する', class: "btn btn-sm btn-success" %>

    <% end %>
  </div>