<!--会員側の配送先編集画面-->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="offset-2">
        <h2 class="red-border px-3">配送先編集</h2>
      </div>

      <!--配送先編集項目-->
      <%= form_with model: @address, url: address_path(@address), method: :patch, local: true do |f| %>
        <table>
          <thead>
            <tr>
              <td class="col-md-4"><%= f.label :配送先名 %></td>
              <td class="col-md-4"><%= f.text_field :receiver_name, placeholder: "長野恵子" %></td>
            </tr>

            <tr>
              <td class="col-md-4"><%= f.label :住所 %></td>
              <td class="col-md-4"><%= f.text_field :address, placeholder: "大阪府大阪市北区" %></td>
            </tr>

            <tr>
              <td class="col-md-4"><%= f.label :郵便番号 %></td>
              <td class="col-md-4"><%= f.text_field :postal_code, placeholder: '000-0000', class: "form-control" %></td>
              <td class="col-md-4"><%= f.submit "変更を保存", class: "btn btn-success" %></td>
            </tr>
          </thead>
        </table>
      <% end %>
    </div>
  </div>
</div>
