<!--注文履歴一覧 -->
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3><strong>注文履歴一覧</strong></h3>
			<table class="table table-bordered table-condensed">
				<tr>
					<th>注文日</th>
					<th class="col-xs-3">配送先</th>
					<th class="col-xs-2">注文商品</th>
					<th class="col-xs-1">支払料金</th>
					<th class="col-xs-2">ステータス</th>
					<th class="col-xs-2">注文詳細</th>
				</tr>
				<% @orders.each do |order|%>
					<tr>
						<td class="col-xs-3"><%= order.created_at.strftime('%Y/%m/%d') %></td><!-- 注文日 -->
						<td class="col-xs-2"><%= order.postal_code %><!-- 配送先 -->
							<%= order.address %>
							<%= order.receiver_name %>
						</td>
						<td class="col-xs-1">
							<% order.order_items.each do |order_detail| %><!-- 注文商品 -->
							<%= order_detail.item.name %><br>
						  <% end %>
						</td>
						<td class="col-xs-2"><%= order.billing_amount.to_s(:delimited, delimiter: ',') %></td><!-- 請求額 -->
						<td class="col-xs-2"><%= order.status %></td><!-- 注文ステータス -->
						<td><%= link_to "表示する", public_order_path(order), class: "btn btn-primary" %></td><!-- 注文詳細 -->
					</tr>
			  <% end %>
		  </table>
		</div>
	</div>
</div>