  <div class="container">
    <div class="row mt-5 mb-3">
      <h3 class="bg-light offset-1">注文情報入力</h3>
    </div>
    <div class="row mt-3">
      <div class="col-10">
        <%= form_with model:@orders, url: public_orders_log_path do |f| %>
          <div class="ml-8">
            <h4 class="d-inline-block"><strong>支払方法</strong></h4><br>
          </div>
          <div class=ml-3>
            <!--クレジットカード-->
            <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
            <%= f.label :クレジットカード %><br>
            <!--銀行振込-->
            <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
            <%= f.label :銀行振込 %>
          </div>
          <div class="ml-8">
            <h4 class="d-inline-block"><strong>お届け先</strong></h4><br>
          </div>
          <div class="ml-3">
            <%= f.radio_button :address_option, 0, checked: true %>
            <%= f.label :ご自身の住所 %><br>
          </div>
          <div class="ml-5">
            <p>〒<%= current_customer.postal_code %> <%= current_customer.address %> <%= current_customer.last_name %><%= current_customer.first_name %></p>
          </div>
          <div class="ml-3">
            <%= f.radio_button :address_option, 1 %>
            <%= f.label :登録済住所から選択 %><br>
          </div>
          <div class="ml-5">
            <%= f.collection_select(:address_id, Address.all, :id, :full_address) %><br>
          </div>
          <div class="ml-3">
            <%= f.radio_button :address_option, 2 %>
            <%= f.label :新しいお届け先 %><br>
          </div>
          <div class="ml-5">
            <table>
              <tr>
                <td><%= f.label :郵便番号（ハイフンなし） %></td>
                <td><%= f.text_field :postal_code %></td>
              </tr>
               <tr>
                <td><%= f.label :住所 %></td>
                <td><%= f.text_field :address,  size:60 %></td>
              </tr>
               <tr>
                <td><%= f.label :宛名 %></td>
                <td><%= f.text_field :receiver_name %></td>
              </tr>
            </table>
          </div>
          <div class="text-center mt-5">
            <%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>