

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-2">
      <div class="card">
        <div class="card-header">
          ジャンル
        </div>
        <div class="card-body">
          <% @genres.each do |genre| %>
            <p class="card-text"><%= genre.name%></p>
          <% end %>
        </div>
      </div>
    </div>

      <div class="col-sm-9 offset-sm-1 justify-content-start">
      <h2><strong>商品一覧</strong><span class="count">（全<%= @itemscount.count %>件）</span></h1>
        <% @items.each do |item| %>
          <div class="d-inline-flex p-2 bd-highlight ">
          <%= link_to public_item_path(item.id), :style => "color: #000000;" do %>
            <%= image_tag item.get_image(100,100) %><br>
            <%= item.name %><br>
            <%= (item.price*1.1).floor %>円（税込）
            <% end %>
          </div>
        <% end %>
      </div>
  </div>
  <div class="row justify-content-center">
    <%= paginate @items %></p>
  </div>
</div>