    <header>
      <div class="row justify-content-center">
      <%= link_to root_path, :style => "color: #000000;", class:"navbar-brand" do %>
        <h2><%= image_tag 'gorira-3-44', size: "30x30" %><span>ながのcake</span></h2>
      <% end %>
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarNavDropdown" >
        <ul class="navbar-nav mr-auto justify-content-start">
          <% if customer_signed_in? %>
          <li><p class="logincustomer nav-link text-light">ようこそ<%= current_customer.last_name + current_customer.first_name %>さん！</p></li> <!--  文字の位置と色  -->
          <li>
            <%= link_to customer_path(current_customer.id), class: "nav-link text-light" do %>
            <i class="fas fa-user"></i>マイページ
            <% end %>
          </li>
          <li>
            <%= link_to public_items_path, class: "nav-link text-light" do %>
            <i class="fas fa-poo"></i>商品一覧
            <% end %>
          </li>
          <li>
            <%= link_to cart_items_path, class: "nav-link text-light" do %>
            <i class="fa-solid fa-cart-shopping"></i>カート
            <% end %>
          </li>
          <li>
            <%= link_to destroy_customer_session_path, method: :delete, class: "nav-link text-light" do %>
            <i class="fas fa-sign-out-alt "></i>ログアウト
            <% end %>
          </li>
           <% elsif admin_signed_in? %>
                <li class"nav-item">
                 <%= link_to admin_items_path, class: "btn btn-dark" do %>
                    商品一覧
                  <% end %>
                </li>
                <li class"nav-item">
                 <%= link_to admin_customers_path, class: "btn btn-dark" do %>
                    会員一覧
                 <% end %>
                </li>
                <li class"nav-item">
                 <%= link_to admin_root_path, class: "btn btn-dark" do %>
                    注文履歴一覧
                     <% end %>
                </li>
                <li class"nav-item">
                 <%= link_to admin_genres_path, class: "btn btn-dark" do %>
                    ジャンル一覧
                 <% end %>
                </li>
                <li class"nav-item">
                 <%= link_to destroy_admin_session_path, method: :delete, class: "btn btn-dark" do %>
                    ログアウト
                 <% end %>
                </li>
          <% else %>
          <li>
            <%= link_to about_path, class: "nav-link text-light" do %>
            <i class="fas fa-home"></i>About
            <% end %>
          </li>
          <li>
            <%= link_to public_items_path, class: "nav-link text-light" do %>
            <i class="fas fa-cake-candles"></i>商品一覧
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_registration_path, class: "nav-link text-light" do %>
            <i class="fas fa-user-plus"></i>新規登録
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_session_path, class: "nav-link text-light" do %>
            <i class="fas fa-sign-in-alt"></i>ログイン
            <% end %>
          </li>
          <% end %>
        </ul>
            <form class="form-inline justify-content-end">
            <input class="form-control mr-sm-2" type="search" placeholder="検索キーワード" arial-label="検索キーワード">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">検索</button>
          </form>
          </div>
        </div>
      </nav>
    </header>


